* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #242424;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}



/* pokemon */
.pokedex-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #e63946;
    text-shadow: 1px 1px 2px #00000022;
}

/* Grid */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

/*card*/
.pokemon-card {
    background: rgb(184, 149, 149);
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.pokemon-card:hover {
    transform: scale(1.07);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

/*paginado*/
.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.btn {
    background-color: #457b9d;
    border: none;
    padding: 0.6rem 1rem;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn:hover:not(:disabled) {
    background-color: #1d3557;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error {
    color: red;
    text-align: center;
    font-size: 1.2rem;
}


/* detalles */
.detail {
  max-width: 600px;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}

.pokemon-detail-card {
  background: #303030;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.pokemon-detail-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

/* HEADER */
.header {
  width: 100%;
  background: #0b2d5c;
  padding: 0.7rem 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  top: 0;
  z-index: 20;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #e63946;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav a {
  margin-left: 1.2rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.nav a:hover {
    color: #a8dadc;
}

/* FOOTER */
.footer {
    margin-top: 2rem;
    padding: 1rem;
    background: #1d3557;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
